@-o-keyframes fontFuturisticPulse {
    0% {  font-family: "FontFuturisticII"; }
    10% { font-family: "FontFuturisticI"; }
    20% { font-family: "FontFuturisticII"; }
    30% { font-family: "FontFuturisticI"; }
    40% { font-family: "FontFuturisticII"; }
    60% { font-family: "FontFuturisticI"; }
    70% { font-family: "FontFuturisticII"; }
    80% { font-family: "FontFuturisticI"; }
    90% { font-family: "FontFuturisticII"; }
    100% {font-family: "FontFuturisticI"; }
}

@-ms-keyframes fontFuturisticPulse {
    0% {  font-family: "FontFuturisticII"; }
    10% { font-family: "FontFuturisticI"; }
    20% { font-family: "FontFuturisticII"; }
    30% { font-family: "FontFuturisticI"; }
    40% { font-family: "FontFuturisticII"; }
    60% { font-family: "FontFuturisticI"; }
    70% { font-family: "FontFuturisticII"; }
    80% { font-family: "FontFuturisticI"; }
    90% { font-family: "FontFuturisticII"; }
    100% {font-family: "FontFuturisticI"; }
}

@-moz-keyframes fontFuturisticPulse {
    0% {  font-family: "FontFuturisticII"; }
    10% { font-family: "FontFuturisticI"; }
    20% { font-family: "FontFuturisticII"; }
    30% { font-family: "FontFuturisticI"; }
    40% { font-family: "FontFuturisticII"; }
    60% { font-family: "FontFuturisticI"; }
    70% { font-family: "FontFuturisticII"; }
    80% { font-family: "FontFuturisticI"; }
    90% { font-family: "FontFuturisticII"; }
    100% {font-family: "FontFuturisticI"; }
}

@-webkit-keyframes fontFuturisticPulse {
    0% {  font-family: "FontFuturisticII"; }
    10% { font-family: "FontFuturisticI"; }
    20% { font-family: "FontFuturisticII"; }
    30% { font-family: "FontFuturisticI"; }
    40% { font-family: "FontFuturisticII"; }
    60% { font-family: "FontFuturisticI"; }
    70% { font-family: "FontFuturisticII"; }
    80% { font-family: "FontFuturisticI"; }
    90% { font-family: "FontFuturisticII"; }
    100% {font-family: "FontFuturisticI"; }
}

@keyframes fontFuturisticPulse {
    0% {  font-family: "FontFuturisticII"; }
    10% { font-family: "FontFuturisticI"; }
    20% { font-family: "FontFuturisticII"; }
    30% { font-family: "FontFuturisticI"; }
    40% { font-family: "FontFuturisticII"; }
    60% { font-family: "FontFuturisticI"; }
    70% { font-family: "FontFuturisticII"; }
    80% { font-family: "FontFuturisticI"; }
    90% { font-family: "FontFuturisticII"; }
    100% {font-family: "FontFuturisticI"; }
}